<section th:replace="Shared/Header"></section>
<h4>Booking</h4>
<th:block th:each="row : ${rows}">
    <th:block th:each="col : ${cols}">
        <input type="checkbox" class="form-check-input" th:checked="${data.get(numberRow * (row - 1) + col - 1)}"
               disabled>
    </th:block>
    <br>
</th:block>
<br>
<table class="table">
    <tr>
        <td>Name:</td>
        <td th:text="${booking.getName()}"></td>
    </tr>
    <tr>
        <td>Amount:</td>
        <td th:text="${booking.getAmount()}"></td>
    </tr>
</table>
<a th:href="${'/Booking/Update/'} + ${booking.getBookingId()}" th:unless="${session.user == null}">Update</a>
<span th:text="${' |'}" th:unless="${session.user == null}"></span>
<a th:href="${'/Booking/'} + ${booking.getShow().getShowId()}">Back to List</a>
<section th:replace="Shared/Footer"></section>